* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Bellefair", serif;
	font-weight: 400;
	list-style: none;
	text-decoration: none;
	background: black;
	color: white;
}

:root {
	--ff-serif: "Bellefair", serif;
	--ff-sans-cond: "Barlow Condensed", sans-serif;
	--ff-sans-normal: "Barlow", sans-serif;
}

.header {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: transparent;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: transparent;
}

.logo {
	font-size: 30px;
	color: white;
}

.navlist {
	display: flex;
}

.navlist a {
	color: white;
	margin-left: 60px;
	font-size: 1rem;
	border-bottom: 2px solid transparent;
	transition: all 0.55s ease;
}

.navlist a:hover {
	border-bottom: 2px solid white;
}

.member,
.members-page,
.create-page,
.intro-text {
	height: 100%;
	width: 80%;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-self: center;
}

.account-container {
	height: 100%;
	width: 80%;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-self: center;
}

.content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
}

label {
	padding: 10px 10px 10px 0;
	font-size: 1rem;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid white;
	border-radius: 4px;
	color: #fff;
	background: transparent;
	font-size: 16px;
}

.button {
	border: none;
	width: fit-content;
	font-size: 1rem;
	background-color: white;
	color: black;
	padding: 0.4rem;
	border-radius: 4px;
	margin-top: 1rem;
}

.logout-button {
	border: none;
	width: fit-content;
	margin-left: 60px;
	font-size: 1rem;
}

.account-details-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.deposit-withdraw-form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.account-name,
.account-balance {
	padding: 0.8rem 0.8rem 0.8rem 0rem;
	font-size: 1.5rem;
}

.welcome-text {
	font-size: 1rem;
	font-family: "Barlow";
	line-height: 1.5;
}

table {
	font-size: 1.2rem;
	width: 80%;
	background-color: white;
	border: none;
}

td {
	padding-top: 20px;
}

th {
	text-align: left;
	background-color: white;
	color: black;
	padding: 20px 20px 20px 5px;
}

.underline {
	text-decoration: underline;
	text-transform: uppercase;
}
